:root{
    --container-gray: #F7F9FC;
    --title-color: #2E2E48;
    --purple: #9251F7;
    --text-title-color: #47516B;
    --normal-text-color: #79819A;
    --text-gradient: -webkit-linear-gradient(90deg, #A478E8 0%, #516CF7 100%);
    --profile-font:Outfit;
    --default-font:DM Sans;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* left section */
.left-section{
    background-color: var(--container-gray);
    width: 356px;
}

/* name pic container */
.name-pic-container{
    display: flex;
    flex-direction: column;
    margin: 0px 48px 0px 48px;
    padding-top: 32.32px;
    font-family: var(--profile-font);
}
.name{
    font-size: 32.32px;
    font-weight: 500;
    color: var(--title-color);
}
.title{
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.quote{
    position: relative;
    font-size: 18.18px;
    font-weight: 500;
    margin-top: 32.32px;
}
.quote::before{
    position: absolute;
    top:-3px;
    left: -20px;
    margin-right: 10px;
    content: url(assets/left-semi.png);
}
.quote::after{
    position: absolute;
    bottom: -3px;
    right: 40px;
    margin-left: 10px;
    content: url(assets/right-semi.png);
}
.quote-by{
    font-family: var(--default-font);
    font-weight: 400;
    font-size: 12.12px;
    margin-top: 4.04px;
    color: var(--normal-text-color);
}

/* contact information */
.contact-info-container{
    font-family: var(--default-font);
    display: flex;
    flex-direction: column;
    padding-top: 32.32px;
    margin-left: 48.48px;
    margin-right: 48.48px;
    margin-top: 32.32px;
    border-top: 1px solid #E2E6EE;
}
.contact-info-container > *:not(:last-child){
    margin-bottom: 24.24px;
}
.email-container{
    display: flex;
    flex-wrap: wrap;
}
.website-container{
    display: flex;
    flex-wrap: wrap;
}
.phone-container{
    display: flex;
    flex-wrap: wrap;
}
.address-container{
    display: flex;
    flex-wrap: wrap;
}
.contact-icon{
    width: 32.32px;
    height: 32.32px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 16.16px;
}
.contact-title{
    font-size: 12.12px;
    font-weight: 400;
    color: var(--normal-text-color);
}
.contact-information{
    font-size: 14.14px;
    font-weight: 500;
    color: var(--text-title-color);
}

/* social information */
.socials-container{
    font-family: var(--default-font);
    display: flex;
    flex-direction: column;
    padding-top: 32.32px;
    margin-left: 48.48px;
    margin-right: 48.48px;
    margin-top: 32.32px;
    border-top: 1px solid #E2E6EE;
}
.socials-container > *:not(:last-child){
    margin-bottom: 24.24px;
}
.instagram-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.twitter-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.dribble-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.linkedin-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.social-icon{
    width: 32.32px;
    height: 32.32px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 16.16px;
}
.social-icon img{
    object-fit: cover;
}
.social-title{
    font-size: 12.12px;
    font-weight: 400;
    color: var(--normal-text-color);
}
.social-information{
    font-size: 14.14px;
    font-weight: 500;
    color: var(--text-title-color);
}

/* language information */
.language-container{
    font-family: var(--default-font);
    display: flex;
    flex-direction: column;
    padding-top: 32.32px;
    margin-left: 48.48px;
    margin-right: 48.48px;
    margin-top: 32.32px;
    border-top: 1px solid #E2E6EE;
}
.language-container > *:not(:last-child){
    margin-bottom: 24.24px;
}
.italian-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.greek-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.english-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.spanish-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.language-icon{
    width: 32.32px;
    height: 24.24px;
    margin-right: 16.16px;
}
.language-title{
    font-size: 12.12px;
    font-weight: 400;
    color: var(--normal-text-color);
}
.language-name{
    font-size: 14.14px;
    font-weight: 500;
    color: var(--text-title-color);
}
/* right section */
.main{
    display: flex;
    flex-wrap: wrap;
}

.right-section{
    width: 844.44px;
    margin-left: 47.98px;
    margin-right: 48.48px;
}

.right-header{
    font-family: var(--profile-font);
    font-weight: 500;
    font-size: 24.24px;
    margin-bottom: 32.32px;
}

.default-container{
    background-color: var(--container-gray);
    margin-right: 8.08px;
}

/* projects information */
.project-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 47.98px;
    border-left: 1px solid var(--container-gray);
}
.project-container::before{
    position: absolute;
    content: url(assets/right-sec-assets/aside_icon.png);
    left:-22px
}

.project-icon{
    aspect-ratio: 1;
    width: 48.48px;
    margin-right: 16.16px;
}
.inside-container{
    display: flex;
    direction: row;
    flex-wrap: wrap;
}
.project-container .inside-container{
    margin-bottom: 48.48px;
}
.pro-container{
    display: flex;
    flex-wrap: wrap;
    margin: 24.24px 24.24px 16.16px 24.24px;
}
.project-title{
    font-family: var(--default-font);
    font-weight: 500;
    font-size: 16.16px;
    color:var(--title-color);
}
.project-description{
    font-family: var(--default-font);
    font-weight: 400;
    font-size: 14.14px;
    color: var(--normal-text-color);
}
.project-link{
    color: #516CF7;
    position: relative;
    font-family: var(--default-font);
    font-weight: 500;
    font-size: 16.16px;
    margin-left: 60.61px;
    padding-bottom: 25.86px;
}
.project-link.figma::before{
    position: absolute;
    content: url(assets/right-sec-assets/p_figma_link.png);
    left: -37.5px;
}
.project-link.ui::before{
    position: absolute;
    content: url(assets/right-sec-assets/p_link.png);
    left: -37.5px;
}
/* experience information */
.experience-container{
    position: relative;
    padding-left: 47.98px;
    border-left: 1px solid var(--container-gray);
}
.experience-container::before{
    position: absolute;
    content: url(assets/right-sec-assets/aside_icon.png);
    left:-22px
}
.vert-exp-container{
    display: flex;
    flex-direction: column;
}
.exp-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 27.78px;
    justify-content: space-between;
    border-left: 1px solid var(--container-gray);
}
.exp-icon{
    aspect-ratio: 1;
    height: 40.4px;
    object-fit: cover;
    overflow: hidden;
}
.date-time-loc{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.date-time-loc::before{
    position: absolute;
    content: url(assets/right-sec-assets/Icon.png);
    left: -32.5px;
    top:-3px;
}
.exp-icon-title{
    margin-top: 8.08px;
    display: flex;
    flex-wrap: wrap;
}
.loc{
    font-size: 10.1px;
    color: var(--normal-text-color);
    font-family: var(--default-font);
    font-weight: 400;
    margin-left: 20.2px;
    position: relative;
}
.loc::before{
    content: url(assets/right-sec-assets/ex_location.png);
    position: absolute;
    left: -10px;
}
.date-time{
    color: #47516B;
    font-size: 10.1px;
    font-family: var(--default-font);
    font-weight: 400;
}
.job-title{
    font-family: var(--default-font);
    font-weight: 400;
    font-size: 12.12px;
    color: var(--normal-text-color);
}
.company{
    font-family: var(--default-font);
    font-weight: 500;
    font-size: 14.14px;
    color: var(--title-color);
}
.experience-left-container{
    display: flex;
    flex-wrap: wrap; 
    flex-direction:column;
    margin-bottom: 16.16px;
    margin-top: 6.06px;
}
.exp-title{
    margin-left: 16.16px;
}
.exp-text{
    color: var(--normal-text-color);
    font-size: 10.1px;
    font-weight: 400;
    font-family: var(--default-font);
}
.experience-text{
    width: 62%;
}
/* education information */
.education-container{
    position: relative;
    padding-left: 47.98px;
    border-left: 1px solid var(--container-gray);
}
.education-container::before{
    position: absolute;
    content: url(assets/right-sec-assets/aside_icon.png);
    left:-22px
}
.education-container .default-container{
    width:227.61px
}
.ed-icon{
    aspect-ratio: 1;
    height: 48.48px;
}
.ed-title{
    margin-left: 16.16px;
    font-family: var(--default-font);
    font-weight: 500;
    font-size: 12.12px;
    color: var(--title-color);
}
.course-name{
    font-family: var(--default-font);
    font-weight: 500;
    font-size: 14.14px;
    color: var(--title-color);
}
.ed-date{
    font-size: 10.1px;
    font-weight: 400;
    font-family: var(--default-font);
    color: var(--normal-text-color);
}
.top-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 16.16px 24.24px 8.08px 24.24px;
}
.bottom-part{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 8.08px 24.24px 16.16px 24.24px;
}
/* skills information */
.skills-container{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 47.98px;
    border-left: 1px solid var(--container-gray);
}
.skills-container::before{
    position: absolute;
    content: url(assets/right-sec-assets/aside_icon.png);
    left:-22px
}
.design-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 16.16px;
}
.development-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 48.48px;
}
.left-box{
    width: 16.2%;
    margin-right: 8.08px;
}
.skill-icon{
    aspect-ratio: 1;
    width: 24.24px;
}
.skill-title{
    font-size: 14.14px;
    font-weight: 500;
    font-family: var(--default-font);
    color: var(--title-color);
}
.skills-container .default-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-purp{
    font-size: 14.14px;
    font-weight: 500;
    font-family: var(--default-font);
    color: #9251F7;
}
.skill-design{
    font-size: 14.14px;
    font-weight: 500;
    font-family: var(--default-font);
    color: #9251F7;
}
.skill-blue{
    font-size: 14.14px;
    font-weight: 500;
    font-family: var(--default-font);
    color: #516CF7;
}
.skill-dev{
    font-size: 14.14px;
    font-weight: 500;
    font-family: var(--default-font);
    color: #516CF7;
}
.right-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* tools information */
.tools-container{
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 47.98px;
}
.tools-container::before{
    position: absolute;
    content: url(assets/right-sec-assets/aside_icon.png);
    left:-22px
}
.tl-big-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8.08px;
}
.tl-small-row{
    display: flex;
    flex-wrap: wrap;
}
.tl-big-icon{
    aspect-ratio: 1;
    height: 48.48px;
}
.tl-small-icon{
    aspect-ratio: 1;
    height: 32.32px;
}
.tools-container .default-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tl-big-row .default-container{
    width: 168.69px;
    height: 129.29px;
}
.tl-small-row .default-container{
    width: 133.33px;
    height: 113.13px;
}
.tl-name{
    color: var(--title-color);
    font-weight: 500;
    font-size: 14.14px;
}
.tl-use{
    color: var(--normal-text-color);
    font-weight: 400;
    font-size: 10.1px;
}

/* for phones */
@media screen and (max-width: 577px){
    .left-section{
        width: 100% ;
    }
    .contact-info-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact-info--item {
        width: 50%;
    }
    .socials-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .socials--item {
        width: 50%;
    }
    .language-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .language--item{
        width: 50%;
    }
    .full-length--item{
        width: 100%;
    }
}